/**
Reset CSS
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**Global Styles
*/
body {
  font-family: "Arial", sans-serif;
  background-color: #e9e5dd;
}

header {
  z-index: 2;
  position: fixed;
  left: 0;
  height: 100%;
  width: calc(100% / 3);
  /* border: 3px dashed blue; */
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: right;
}

header a {
  display: inline-block;
  text-decoration: none;
  padding: 6px 0;
  font-size: 22px;
  color: #000;
}

header .container {
  width: calc(100% - 60px);
  max-width: 360px;
  padding: 0 12px 0 0;
  /* border: 3px dashed green; */
}

main {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* border: 3px dashed #ccc; */
  display: flex;
  align-items: center;
}

main .container {
  width: calc(100% / 3 * 2);
  margin-left: calc(100% / 3);
  /* border: 3px dashed red; */
  max-height: 100vh;
  padding: 40vh 60px 40vh 12px;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.background {
  /* position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e9e5dd;
  display: none; */
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

section {
  position: relative;
  padding: 20px 24px 10px 24px;
  margin: 0 0 30px 0;
}

section::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.8;
  border-radius: 8px;
}

p,
ul {
  font-size: 16px;
  margin: 0 0 1em 0;
  line-height: 1.2em;
}

/* .container {
  width: 80%;
  margin: auto;
  overflow: hidden;
} */

/* header {
  background: #333;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #0779e4 3px solid;
} */

/* header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
} */

/* nav {
  float: right;
  margin-top: 10px;
} */

/* nav ul {
  list-style: none;
} */

/* nav ul li {
  display: inline;
  margin-left: 20px;
} */

/* nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
} */

/* section {
  padding: 20px;
  background: #fff;
  margin-top: 20px;
} */

/* footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
} */
